<!-- display-player.component.html -->

<div class="carousel-container">
  <ngx-slick-carousel class="carousel" [config]="carouselConfig">
    <div *ngFor="let video of videos" class="carousel-item" (click)="playVideo(video)">
      <img [src]="getVideoThumbnail(video)" alt="Video Thumbnail">
    </div>
  </ngx-slick-carousel>
</div>
<div class="video-player-container">
  <video [src]="currentVideoUrl" [autoplay]="isLooping" (ended)="playNextVideo()" controls></video>
</div>
<div class="controls">
  <button (click)="playPauseVideo()">Play/Pause</button>
  <button (click)="toggleLoop()">Toggle Loop</button>
</div>
